<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866548814294-hrjk0hndqqs7tdu6u8h0ku9icugtscfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866548814294-hrjk0hndqqs7tdu6u8h0ku9icugtscfc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>866548814294-ln87rkq7fpn07nbt30h2n9sdkso2jrem.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlxtLC95THENem64evPuzX8EiC__x6BSI</string>
	<key>GCM_SENDER_ID</key>
	<string>866548814294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.destek.reely</string>
	<key>PROJECT_ID</key>
	<string>reelyapp-2835c</string>
	<key>STORAGE_BUCKET</key>
	<string>reelyapp-2835c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866548814294:ios:be78769ee292f0e0b45477</string>
</dict>
</plist>